*/test_results.csv
__loader/after*
__loader/flash*
bin.txt
_build
toplevel_doc
log.txt
*/.build_*/*
*/.build*/*
*/bin/*
*.bin
*.zip
*.log
*.o
*.xe
*.vcd
*.xi
*.i
*.a
*.swp
*.*~
*.xmt
*.swo
*~
*.DS_Store
*.pyc
**/*.egg-info/
**/.venv/*

# Regression test files
tests/xmosdfu
tests/xsig
